@import 'normalize.css';



#footer { 
    display: table;
    text-align: center;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}



/*For the slideshow on homepage*/

.carousel-inner > .item > img {
  width:800px;
  height:700px;
}

#toCenter {
    text-align: center;
    padding-top: 25%;
}

html {
    height: 100%;
}

p {
    /*margin-left: 145px;*/
    /*margin-left: 10%;*/
    font-size: 23px;
    font-weight: 200;
    border-bottom: 3px solid #f1f1f1;
    width: 30%;
}


.row.display-flex {
	display: flex;
	flex-wrap: wrap;
}

.display-flex.container:before,
.display-flex.container:after,
.display-flex.row:before,
.display-flex.row:after {
   content: normal; 
}


.thumbnail {
	/*height: 100%*/
  height: 200px;
  overflow: hidden;
}

.thumbnail > img {
	height: 100%;
	width: 100%;
}

.content{
    overflow: auto;
}

#wrap{
    margin:0 auto; 
}

#sidebar.active {
    margin-left: -1000px;
}

.navbar-default .navbar-brand {
    color: #212529;  
}

.navbar-default .navbar-nav>li>a
{
    color: #212529;  
}

#navbar1 ul {
    color: #212529;  
}

.toggleBar {
   padding-top: 5px;
   /*margin-left: -130px;*/
   margin-left: -9%;
   margin-right: 0px;
   float: left;
   position: fixed;
}

.wrapper {
    margin-left: 0px;
    position: fixed;
    float: left;
}


.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

#sidebar {
    /*background: #7386D5;*/
    /*color: #fff;*/
    margin-left: -10%;
    margin-top: 30px;
    margin-bottom: 0px;
    /*margin-left: 0.4%;*/
    /*color: #777;*/
    color: #212529;

    transition: all 0.3s;
    min-width: 0px;
    min-height: 100vh;
    float: left;
    position: fixed;
}

#sidebar ul.components {
    padding: 20px;
    
}

#sidebar ul p {
   /* color: #fff;*/
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    /*font-size: 1.1em;*/
    display: block;
    color: #212529;
}

ul ul a {
    color: #212529;
    font-size: 0.9em !important;
    padding-left: 30px !important;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 875px) {
  #sidebar {
    margin-left: -100%;
  }
  .toggleBar {
    margin-left: -100%;

  }
